#hangman-available-characters,
#hangman-answer-placeholders {
	background: #95b8ce;
	margin: 20px auto;
	padding: 20px;
}

#hangman-available-characters-list,
#hangman-placeholders,
.word-placeholder > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

.hangman-available-character,
.character-placeholder,
.word-placeholder {
	list-style-type: none !important;
	margin: 2px 5px;
	padding: 5px 10px;
}

.word-placeholder {
	display: flex;
}

.character-placeholder {
	border-bottom: 2px solid gray;
}

.character-placeholder.space,
.character-placeholder.given {
	border-bottom: none;
}

.character-placeholder.given {
	margin: 0;
	padding: 0;
}

#hangman-figure {
	clear: both;
	display: inline-block;
	background: #95b8ce;
	height: 100%;
	margin: 40px auto;
	padding: 20px;
}

#hangman-canvas {
	border: 2px solid #fff;
}
