#hangman-available-characters {
	background: #95b8ce;
	padding: 20px;
}

#hangman-available-characters-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

.hangman-available-character {
	list-style-type: none !important;
	margin: 2px 5px;
	padding: 5px 10px;
}

#hangman-figure {
	clear: both;
	display: inline-block;
	background: #95b8ce;
	height: 100%;
	margin: 40px auto;
	padding: 20px;
}

#hangman-canvas {
	border: 2px solid #fff;
}
