#hangman-app {
	clear: both;
	display: inline-block;
	background: #95b8ce;
	height: 100%;
	margin: 40px auto;
	padding: 20px;
}

#hangman-canvas {
	border: 2px solid #fff;
	/*height: 400px;*/
	/*max-width: 100%;*/
	/*width: 600px;*/
}
